{% extends "base.html" %}

{% block title %}Leisure{% endblock %}

{% block content %}
  <p class="fs-2 font-monospace text-center">
    We know why you are here!!<br>
    Welcome to the future of subscriptions
  </p>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3 class="mb-3">Customer Information</h3>
      {% for job in jobs %}
        <div class="mb-4 p-3 border rounded">
          <p><strong>ID:</strong> {{ job.id }}</p>
          <p>
            <strong>Name:</strong>
            <a href="{{ url_for('load_info_by_id', id=job.id) }}">
              {{ job.first_name }} {{ job.surname }}
            </a>
          </p>
          <p><strong>Email:</strong> {{ job.email }}</p>
          <p><strong>Bank:</strong> {{ job.bank }}</p>
        </div>
      {% else %}
        <p>No customers found.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
